.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    border-bottom: 2px solid #cccccca8;
    min-height: 42px;
    max-height: 55px;
}   

.logoTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 0 0 auto;  
    gap: 0.75rem; 
}

.logo{
    width: 90px;
    height: 44px; 
}

.title{
    font-family: Overpass, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.homeLink{
    text-decoration: none;
    color: inherit;
    margin: 0;

}

.searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  max-width: 680px;
  flex: 1;
  padding: 0.5rem 0.75rem;

  border: 1px solid #ccc;
  border-radius: 30px;

  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(215, 194, 226, 0.219);
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 0.9rem;
  background: transparent;

}

.searchIcon {
  width: 16px;
  height: 16px;
  opacity: 0.9;
}

.actions{
    display: flex;
    justify-content: space-evenly;
    font-family: Overpass, Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    max-width: 450px;
    flex: 1;
    align-items: center;
    opacity: 0.7;
    
}

.action {
    padding: 15px 15px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.action:hover {
    background-color: rgba(188, 187, 187, 0.332);
}

.dropbtn {
    font: inherit;      /* key line */
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    appearance: none;

    
  display: flex;
  align-items: center;
  justify-content: center;
} 

.eventDropdown {
  position: relative;
  display: inline-block;
}

.eventDropdownContent {
  display: none;    
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
}

.eventDropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.chevron {
  display: inline-block;
  transition: transform 0.2s ease;
}

.eventDropdownContent a:hover {background-color: #ddd;}

.eventDropdown:hover .eventDropdownContent {display: block;}

.eventDropdown:hover .dropbtn {background-color: rgba(188, 187, 187, 0.332);}

.dropbtn:hover .chevron {transform: rotate(180deg);}